[Unit]
Description=Chromecast Episode Player Hearbeat Check

[Service]
Type=simple
ExecStart= /opt/Chromecast-Episode-Player/scripts/check.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target


