[Unit]
Description=Chromecast Episode Player Web Server
Requires=chromecastEpisodes_controller.service

[Service]
Type=simple
ExecStart=/opt/Chromecast-Episode-Player/run.sh
Restart=always

[Install]
WantedBy=multi-user.target

