[Unit]
Description=Chromecast Episode Player Web Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/Chromecast-Episode-Player/run.sh
Restart=always

[Install]
WantedBy=multi-user.target

